.modality__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modality__modal {
    background: rgb(118, 173, 222);
    border-radius: 1.5rem;
    width: 700px;
    height: 500px;
}

