.modality__background {
    background: #000;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 998;
}

.modality__container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
}

.modality__modal {
    background: rgb(255, 251, 255);
    border-radius: 1.5rem;
    width: 40%;
    height: 40%;
}

@keyframes modality__background__animation-in {
    
}

.modality__background__animation-in {
    animation-name: modalit__background__animation-in;
}

@keyframes modality__background__animation-out {
    
}

.modality__background__animation-out {
    animation-name: modality__background__animation-out;
}

@keyframes modality__modal__animation-in {

}

.modality__modal__animation-in {
    animation-name: modality__modal__animation-in
}

@keyframes modality__modal__animation-out {
    
}

.modality__modal__animation-out {
    animation-name: modality__modal__animation-out;
}

